
:host{
  display: block;
  width: 100%;
  height: 100%;
}
.khinkali-flex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  &__task-place{
    width: 50%;
    height: 100%;
  }
  &__result-place{
    width: 50%;
    height: 100%;
    background-color: red;
  }
}
@media (max-width: 700px) {
  .khinkali-flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__result-place,&__task-place{
      width: 100%;
    }
  }
}
