@use '@/assets/styles/mixins.scss';

.example{
  width: calc(100% - 10px);
  height: 38vh;
  margin: auto;
  @include mixins.flex(space-around,space-around,column);
  div{
    height: calc(100% - 10%);
    overflow-y: auto;
    ul{
      padding:20px;
      @include mixins.flex(flex-start,center,column);
      gap: 10px;
      li{
        font-family: sans-serif;
      }
    }
  }
}
