@mixin flex($just:center,$align:center,$direct:row) {
  display: flex;
  justify-content: $just;
  align-items: $align;
  flex-direction: $direct;
}


@mixin mobile($max-width:750px){
  @media (max-width: $max-width) {
    @content;
  }
}
