@use '../../../assets/styles/mixins.scss';

:host{
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

}
.scroll{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px
}
.mtsvadi-grid {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  &__task-place{
    width: 50%;
    height: 100%;
  }
  &__result-place{
    width: 50%;
    height: 100%;
    @include mixins.flex(center, center);
  }
}
@media (max-width: 700px) {

}

@include mixins.mobile(){
  :host {
    height: 170vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .scroll{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

  }
  .mtsvadi-grid {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__result-place,&__task-place{
      width: 100%;
      height: 50%;
    }
  }
}
